$color-primary: rgb(29, 27, 27);
$color-secondary: #383333;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$text-primary: rgb(205, 164, 52);
$text-secondary: rgb(255, 255, 255);
$font-primary: "Island Moments", sans-serif;
$font-secondary: "Ledger", sans-serif;
$transparent: rgba(255, 255, 255, 0);

body {
    font-family: $font-secondary;
    background-image: url("https://img.freepik.com/free-photo/gray-concrete-wall_53876-88973.jpg?w=1480&t=st=1680908243~exp=1680908843~hmac=6e0134e43c81faf53790c7dc00c1b4d3f93182714c6ed60a32e228fdcd5702f1");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
  }

nav {
    .navbar {
        background-color: $color-primary;
        width: 100%;
        height: 60px;
    }

    img {
        height: 60px;
        margin-right: 30px;
    }

    li {
        font-family: $font-secondary;
        color: $text-secondary;
        align-items: left;
        font-size: 100%;
    }

    li:hover {
        color: $text-primary;
    }

    .navbar-brand {
        font-size: 300%;
        margin: -10px;
        color: $text-primary;
        font-family: $font-primary;
    }
}
nav {
    background-color: $color-primary;
}

.firstBlock {
    #banner {
        display: flex;
        justify-content: left;
        align-items: center;
        overflow: hidden;
        position: relative;
        min-height: 810px;
    }

    img {
        min-width: 100%;
        min-height: 810px;
        position: absolute;
        overflow: hidden;
    }

    #translucentBox {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        z-index: 2;
        background-color: $color-black-transparent;
        color: $text-secondary;
        font-family: $font-secondary;
        padding: 20px;
        width: 40%;
        min-width: 400px;
        height: 400px;
        margin-left: 50px;
    }

    h2 { font-size: 450%; }
    h1 { font-size: 580%; }
    h6 { font-size: 220%; color: $text-primary;}
}

.galleryBlock {
    .dividerDiv {
        width: 100%;
        height: 160px;
        // background-color: $color-secondary;
        background-color: $transparent;
    }

    .textDiv {
        display: flex;
        overflow: hidden;
        position: relative;
        background-color: $color-primary;
        width: 450px;
        top: -65px;
        margin: auto;
    }

    h1 {
        font-size: 100px;
        color: $text-primary;
        margin: auto;
        vertical-align: middle;
        font-family: $font-primary;
    }

    .imageHolder {
        height: 900px;
        margin-top: -120px;
        background-color: $color-secondary;
        // background-color: $transparent;
    }
}

footer {
    div {
        width: 100%;
        height: 300px;
        background-color: $color-primary;
        color: white;
        padding: 20px;
    }
}

// .row-content {
//     padding: 50px 0;
//     border-bottom: 1px ridge;
//     min-height: 200px;
// }

// .carousel-caption {
//     background-color: $color-black-transparent;
// }

// .carousel {
//     border: solid $color-secondary;
// }

// #carouselButton {
//     position: absolute;
//     right: 0;
//     bottom: 0;
//     z-index: 100;
// }